{% extends "wiki/wiki_page_base.html" %}

{% block headerblock %}
    {% if form.instance.pk %}
        <title>{{ form.instance.title }}</title>
    {% endif%}
{% endblock %}

{% block bodyblock %}

<h1>
    {% if not form.instance.pk %}
        Create Wiki Page
    {% else %}
        Update Wiki Page
    {% endif %}
</h1>

<form action="", method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        <p>
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}">Title</label>
            <br>
            {{ form.title }}
        </p>
    </div>
    <div class="fieldWrapper">
        <p>
            {{ form.text.errors }}
            <label for="{{ form.text.id_for_label }}">Text</label>
            <br>
            {{ form.text }}
        </p>
    </div>
    <div class="fieldWrapper">
        <p>
            {{ form.links.errors }}
            <label for="{{ form.links.id_for_label }}">Links</label>
            <br>
            {{ form.links }}
        </p>
    </div>
    {% comment %} {{ form.as_p }} {% endcomment %}
    <input type="submit" class="btn btn-primary" value="Save">
</form>

{% endblock %}