{% extends "wiki/wiki_page_base.html" %}

{% block headerblock %}
    <title>{{ wiki_page_detail.title }}</title>
{% endblock %}

{% block bodyblock %}

<h2>{{ wiki_page_detail.title }}</h2>
<p>Views: {{ wiki_page_detail.counter }}</p>
<div class="jumbotron">
    <p>{{ wiki_page_detail.text }}</p>
</div>
<div>
    {% if wiki_page_detail.links %}
        {% for wiki_page_link in wiki_page_detail.get_links %}
            <a href={{ wiki_page_link.url }}>{{ wiki_page_link.title }}</a>
        {% endfor %}
    {% endif %}
</div>

<div class="container">
    <p>
        <a class="btn btn-warning" href="{% url 'wiki:update' pk=wiki_page_detail.pk %}">Edit</a>
        <a class="btn btn-warning" href="{% url 'wiki:delete' pk=wiki_page_detail.pk %}">Delete</a>
    </p>
</div>

{% endblock %}